<?xml version="1.0" encoding="utf-8"?>
<module>
    <dojo>
        <paths>
            <add name="viewonwebsite" path="0.88/Scripts" />
        </paths>
    </dojo>
    <clientModule initializer="viewonwebsite.Initializer">
      <moduleDependencies>
        <add dependency="CMS" type="RunAfter" />
      </moduleDependencies>
    </clientModule>
</module>
