<?xml version="1.0" encoding="utf-8"?>
<module productName="Gulla.Globe" clientResourceRelativePath="1.0" loadFromBin="false">
  <clientResources>
    <add name="globe" path="ClientResources/Initializer.js" resourceType="Script" />
    <add name="globe" path="ClientResources/CustomToolbarProvider.js" resourceType="Script" />
    <add name="globe" path="ClientResources/ViewOnWebsiteCommand.js" resourceType="Script" />
  </clientResources>

  <dojo>
    <paths>
      <add name="globe" path="ClientResources" />
    </paths>
  </dojo>

  <clientModule initializer="globe.Initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="globe" />
    </requiredResources>
  </clientModule>
</module>